
<hr>
<footer>
    <p>Copyright © <%= new Date().getFullYear() %></p>
    <a href=""></a>
</footer>



<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="/func.js"></script>
<a href="https://riverachacon.github.io/giovanni-rivera/">Contact</a>

</body>
</html>