<%- include("partials/header.ejs") %>
<div class="about">
    <h2>Giovanni Rivera</h2>
    <p>Hello I'm Giovanni a web developer</p>
    <p>visit my <a class="page1" href="https://riverachacon.github.io/giovanni-rivera/">Page</a></p>
</div>



<%- include("partials/footer.ejs") %>